<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Learning">
  
  <listeners>
     <listener class-name="SimpleListeners.TestListeners" />
  </listeners>
  
  
  <test thread-count="5" name="Admin Test">
    <classes>
      <class name="SimpleListeners.AdminPanelTest"/>
    </classes>
   </test> <!-- Test -->  
    
   
</suite> <!-- Suite -->
